.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: linear-gradient(-120deg, #1b1b1b, #313030);
    /* box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5), inset -5px -5px 15px rgba(255, 255, 255, 0.5); */
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease-in-out;
    position: relative;
}


.card .flag {
    width: 100%;
    overflow: hidden;
}

.card .flag img {
    width: 100%;
}

.card .flag img:nth-child(2) {
    display: none;
}

.card .country-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
}

.card .col {
    display: flex;
    flex-direction: column;
}

.country-name .capital {
    color: var(--secondary);
    font-size: 1.5rem;
}

.card .country-name .common-name {
    color: var(--primary);
    text-align: center;
    padding: .5rem;
}

.card .country-name .official-name {
    color: var(--white);
    text-align: center;
    padding: .2rem;
    font-size: 1.2rem;
}

.card .continent {
    position: absolute;
    left: 2px;
    top: 2px;
    background: var(--black);
    color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
}