:root {
    --white: #ffffff;
    --black: #2e2e2e;
    --primary: #6ae86a;
    --secondary: #e7b73d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}